extends layout

block content
    div(class='row')
        div(class='col-md-7')
            div(id='barchart' style="width: 630px; height: 600px;")
        div(class='col-md-5 gist-code')
            script(src='https://gist.github.com/gergob/66b7023244941f4d953a.js')




block append scripts
   script(src='/javascripts/barchart.js')