extends layout

block content
    div(class='row')
        div(class='col-md-6')
            div(id='donutchart' style="width: 630px; height: 600px;")
        div(class='col-md-6 gist-code')
            script(src='https://gist.github.com/gergob/67e6ebaf2b529ae9ff30.js')

block append scripts
    script(src='/javascripts/donutchart.js')