extends layout

block content
    h1= title

    div(class='row')
        div(class='col-md-3')
            div(class='thumbnail')
                img(src='images/barchart.jpg')
                div(class='caption text-center')
                    a(href='/barchart' class='btn btn-primary') Bar Chart
        div(class='col-md-3')
            div(class='thumbnail')
                img(src='images/donutchart.jpg')
                div(class='caption text-center')
                    a(href='/donutchart' class='btn btn-primary') Donut Chart
        div(class='col-md-3')
            div(class='thumbnail')
                img(src='images/piechart.jpg')
                div(class='caption text-center')
                    a(href='/piechart' class='btn btn-primary') Pie Chart
        div(class='col-md-3')
            div(class='thumbnail')
                img(src='images/linechart.jpg')
                div(class='caption text-center')
                    a(href='/linechart' class='btn btn-primary') Line Chart
    div(class='row')
        div(class='col-md-3')
            div(class='thumbnail')
                img(src='images/geochart.jpg')
                div(class='caption text-center')
                    a(href='/geochart' class='btn btn-primary') Geo Chart
        div(class='col-md-3')
            p Gauge Chart