doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-cerulean.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      nav(class='navbar navbar-inverse navbar-fixed-top')
        div(class='container')
          div(class='navbar-header')
            button(type='button' class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              span(class='sr-only') Toggle Navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand' href='/') Google Charts Guide
          div(class='collapse navbar-collapse' id='navbar')
            ul(class='nav navbar-nav')
              li(class='active')
                a(href='#') Home
              li()
                a(href='/') Home 2
      div(class='container' id='content')
        block content

    block sritpts
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')