extends layout

block content
    div(class='row')
        div(class='col-md-7')
            div(id='linechart' style="width: 630px; height: 600px;")
        div(class='col-md-5 gist-code')
            script(src='https://gist.github.com/gergob/e11b91abb3b776757bcf.js')

block append scripts
    script(src='/javascripts/linechart.js')