extends layout

block content
    div(class='row')
        div(class='col-md-6')
            div(id='piechart' style="width: 630px; height: 600px;")
        div(class='col-md-6 gist-code')
            script(src='https://gist.github.com/gergob/5afefbfc1bf67ee79f55.js')

block append scripts
    script(src='/javascripts/piechart.js')